body {
    align-items: center;
    display: flex;
    margin: 0;
    justify-content: center;
}

div {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

video {
    background-color: #111;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
